/* Body styling*/
* {
    box-sizing: border-box
}

body{
    font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
}

.background{
    background-color: #ebebeb;
}

header{
    background-color: #ebebeb;
    padding: 2%;
}

nav{
    margin-top: 20px;
    padding: 2%;
}

h1, h2, h3, p{
    text-align: center;
    margin: 0%;
    background-color: #ebebeb;
    color: #777;
}

#stuff{
    background-color: #777;
    color:#ebebeb;
}

#bio{
    padding: 2%;
}

article{
    background-color: #777;
    color: #ebebeb;
}

aside{
    margin-top: 5%;
    float: right;
    width: 45%;
}

section{
    background-color: #ebebeb;
    color: #777;
    float: left;
    margin-top: 5%;
    width: 45%;
    margin-bottom: 10%;
}

footer{
    clear: both;
    overflow: auto;
}

